-provide(:title, 'Home')

.jumbotron.jumbotron-fluid
  .container
    %h1.display-3
      Hello Bijou
    %p.lead.center
      This is a modified jumbotron that occupies the entire horizontal space of its parent.
    %hr
    %p.lead.center
      %a.btn.btn-info.btn-lg{:href => signup_path} Sign up now!
