%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse

  %a.navbar-brand{:href => "#"} Project name

  %ul.nav.navbar-nav
    %li.nav-item{:class => active_class?(root_path) }
      = link_to("Home", root_path, class: "nav-link")

    %li.nav-item{:class => active_class?(about_path) }
      = link_to("About", about_path, class: "nav-link")

    %li.nav-item{:class => active_class?(contact_path) }
      = link_to("Contact", contact_path, class: "nav-link")

  .pull-xs-right
    = link_to "ADM", admin_root_path, class: "btn btn-danger-outline", style: "margin-left:10px;"
